<ion-view view-title="Movie info">


  <ion-content>

    <div class="list list-inset">
      <div class="item item-text-wrap">

        <h3>Title</h3>
        <p>{{spanish.title}}</p>

      </div>
      <div class="item item-text-wrap">

        <h3>Year</h3>
        <p>{{spanish.year}}</p>

      </div>
      <div class="item item-text-wrap">

        <h3>Director</h3>
        <p>{{spanish.cast.directors | string}}</p>

      </div>
      <div class="item item-text-wrap">

        <h3>Cast</h3>
        <p>{{spanish.cast.actors | string }}</p>

      </div>
      <div class="item item-text-wrap">

        <h3>Plot</h3>
        <p>"{{spanish.plot}}</p>

      </div>
      <div class="item item-text-wrap">

        <h3>Imdb</h3>
        <p>{{spanish.imdbRating}}</p>

      </div>
      <div class="item item-text-wrap">

        <h3>Rotten Tomatoes</h3>
        <p>{{spanish.rottentomato.tomato_rating}}</p>

      </div>
    </div>
  </ion-content>
</ion-view>
