<ion-view title='<img class="title-image" src="../img/ionictitle.png" />'>
  <ion-content style="background-color: white ;">
    <div class="row tutorial">

      <img src="../img/tutorial.png"/>
      </div>
    <div class="row tutorial">
    <p>We'll suggest the best spanish movies tailored to you!</p>
    
    </div>
    <div class="row tutorial">
 
      
      <button class="button button-block button-royal" ui-sref="likes" style="color: white;">Got it</button>
</div>
    

  </ion-content>
</ion-view>
