<ion-view view-title="VIRIDIANA" ng-controller="PopupCtrl" ng-init="showAlert()">
  <ion-content>
  <td-cards>
    <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)"  on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
      <div class="image"><img src="../img/first_movie_white.png" ng-src = "{{card.posterPath}}"/>
      </div>
       <button class="no-text" ng-click="onClickTransitionOut(card)"><i class="ion-ios-close-outline"></i></button>
      <button class="no-text" ng-click="onClickTransitionOut(card)"><i class="ion-ios-heart-outline"></i></button>
    </td-card>   
  </td-cards>
   </ion-content>
    <ion-footer-bar>
  <button class="no-text" ng-click="cardSwipedLeft()"><i class="ion-ios-close-outline"></i></button>
  <button class="yes-text" ng-click="cardSwipedRight()"><i class="ion-ios-heart-outline"></i></button>
</ion-footer-bar>
</ion-view>





