<ion-view view-title="VIRIDIANA" ng-controller="PopupCtrl" ng-init="showAlert()">

  <ion-content>
    <div class="likes-content">
     
    <div class="row row-center">
      <div class="picture col">
        
        <div class="main">
        <div class="wrapper">Hola</div>
        <img class="img-likes" ng-src="{{currentMovie.posterPath}}"> 
          
          </div>
       
         <h5>{{currentMovie.title}}</h5>
      </div>
    </div>
    <div class="row row-bottom">
      <div class="button-bar">
        <a class="button button-royal" ng-click="next_movie()">Meeh</a>
        <a class="button button-stable" ng-click="save_movie($currentMovie)">Love it!</a>
        

      </div>
    
    </div>
</div>
  </ion-content>


</ion-view>
