<ion-view view-title="suggestions">

<div class="bar bar-header bar-light">
   <a href="#/likes"><button class="button button-icon ion-ios-arrow-left"></button></a>
  <h1 class="title">Suggestions</h1>
</div>
 <ion-content class="padding">

 <div class="list card">
 

    <div class="item item-image">
    <img src="https://upload.wikimedia.org/wikipedia/en/f/fa/While_We're_Young_(film)_POSTER.jpg">
  </div>
   <a href="#/details" class="item item-icon-right dark" >
    <i class="ion-ios-arrow-right"></i>
   Details
  </a>
</div>
    <div class="list card">

    <div class="item item-image">
    <img src="https://upload.wikimedia.org/wikipedia/en/f/fa/While_We're_Young_(film)_POSTER.jpg">
  </div>
</div>
</ion-content>


</ion-view>