<ion-view view-title="Suggestions" >
<ion-nav-bar class="bar bar-header bar-dark" ng-controller="PopupCtrl">
      <ion-nav-back-button class="button-icon"  ng-click="showAlert()">
        <i class="ion-android-arrow-back"></i>
      </ion-nav-back-button> 
      </ion-nav-bar>

 <ion-content class="padding">

 <div class="list card" ng-repeat="movie in movies">
    <div class="item item-image" > 
      <img ng-src="{{movie.posterPath}}" />
    </div>
    <a href="#/details/{{movie.imdbID}}" class="item item-icon-right dark" >
      <h3>{{movie.title}} ({{movie.year}})</h3>
      <i class="ion-ios-arrow-right"></i>
    </a>
</div>
<div class="logo">
         <img src="img/tmdblogo.png"/>
  <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
</div>
</ion-content>


</ion-view>