/* Empty. Add your own CSS if you like */

ion-content {
 background: -webkit-linear-gradient(left, rgba(237,69,104,1) , rgba(174,67,69, 1)); /* For Safari 5.1 to 6.0 */

  color: white;
  font-family: Helvetica Neue;
  display: flex;
  justify-content: center;
  
}


a {
  COLOR: white;
  font-family: Helvetica Neue;
}


.picture {

margin-top: 15%;


  opacity: 0.9;
}

.main {
  
  width: 100%;
  height: 100%;
-webkit-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.6);
-moz-box-shadow:  5px 5px 2px 0px rgba(0,0,0,0.6);
box-shadow:  5px 5px 2px 0px rgba(0,0,0,0.6);
  
}

.card {
  width: 100%;
  height: 100%;
}

.ion-ios-help-outline {
  font-size: 2rem;
  float: right;
}